<a href="https://colab.research.google.com/github/jegatheshwaran/Task_5/blob/main/Task5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
user_engagement = pd.read_csv('/content/takehome_user_engagement.csv')
user_engagement

                 time_stamp  user_id  visited
0       2014-04-22 03:53:30        1        1
1       2013-11-15 03:45:04        2        1
2       2013-11-29 03:45:04        2        1
3       2013-12-09 03:45:04        2        1
4       2013-12-25 03:45:04        2        1
...                     ...      ...      ...
207912  2013-09-06 06:14:15    11996        1
207913  2013-01-15 18:28:37    11997        1
207914  2014-04-27 12:45:16    11998        1
207915  2012-06-02 11:55:59    11999        1
207916  2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

In [5]:
user_engagement = pd.read_csv('/content/takehome_user_engagement.csv',parse_dates=['time_stamp'],encoding='unicode_escape')
user_engagement

                time_stamp  user_id  visited
0      2014-04-22 03:53:30        1        1
1      2013-11-15 03:45:04        2        1
2      2013-11-29 03:45:04        2        1
3      2013-12-09 03:45:04        2        1
4      2013-12-25 03:45:04        2        1
...                    ...      ...      ...
207912 2013-09-06 06:14:15    11996        1
207913 2013-01-15 18:28:37    11997        1
207914 2014-04-27 12:45:16    11998        1
207915 2012-06-02 11:55:59    11999        1
207916 2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

In [8]:
users = pd.read_csv('/content/takehome_users.csv',encoding ='unicode_escape')
users

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima ThaÃ­s,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [9]:
users = pd.read_csv('/content/takehome_users.csv',parse_dates=['creation_time'],encoding ='unicode_escape')
users

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima ThaÃ­s,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [10]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  datetime64[ns]
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 937.6+ KB

In [12]:
users['last_session_creation_time'] = pd.to_datetime(users['last_session_creation_time'])
users

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.398138810,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1970-01-01 00:00:01.396237504,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1970-01-01 00:00:01.363734892,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.369210168,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.358849660,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1970-01-01 00:00:01.378448055,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1970-01-01 00:00:01.358274517,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1970-01-01 00:00:01.398602716,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1970-01-01 00:00:01.338638159,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima ThaÃ­s,ThaisMeloLima@hotmail.com,SIGNUP,1970-01-01 00:00:01.390726632,0,1,0,NaN

In [13]:
#users['last_session_creation_time'] = pd.to_datetime(users['last_session_creation_time'],unit='s')
users['last_session_creation_time'] = pd.to_datetime(users['last_session_creation_time'] ,unit='s')
users.head(2)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.398138810,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1970-01-01 00:00:01.396237504,0,0,1,316.0

In [14]:
users['last_session_creation_time'] = pd.to_datetime(users['last_session_creation_time'],unit='s')
users

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.398138810,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1970-01-01 00:00:01.396237504,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1970-01-01 00:00:01.363734892,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.369210168,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.358849660,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1970-01-01 00:00:01.378448055,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1970-01-01 00:00:01.358274517,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1970-01-01 00:00:01.398602716,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1970-01-01 00:00:01.338638159,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima ThaÃ­s,ThaisMeloLima@hotmail.com,SIGNUP,1970-01-01 00:00:01.390726632,0,1,0,NaN

In [15]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  datetime64[ns]
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   datetime64[ns]
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(3)
memory usage: 937.6+ KB

In [16]:
df = user_engagement.copy()

In [17]:
user_engagement['time_stamp'] = pd.to_datetime(user_engagement['time_stamp']).dt.floor('d').astype(np.int64)
user_engagement['time_stamp']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  """Entry point for launching an IPython kernel.

0         1398124800000000000
1         1384473600000000000
2         1385683200000000000
3         1386547200000000000
4         1387929600000000000
                 ...
207912    1378425600000000000
207913    1358208000000000000
207914    1398556800000000000
207915    1338595200000000000
207916    1390694400000000000
Name: time_stamp, Length: 207917, dtype: int64

In [18]:
user_engagement = user_engagement.sort_values(['user_id','time_stamp']).drop_duplicates()
user_engagement

                 time_stamp  user_id  visited
0       1398124800000000000        1        1
1       1384473600000000000        2        1
2       1385683200000000000        2        1
3       1386547200000000000        2        1
4       1387929600000000000        2        1
...                     ...      ...      ...
207912  1378425600000000000    11996        1
207913  1358208000000000000    11997        1
207914  1398556800000000000    11998        1
207915  1338595200000000000    11999        1
207916  1390694400000000000    12000        1

[207917 rows x 3 columns]

In [19]:
df1 = user_engagement.copy()
df1.to_csv('user*engagement.csv')

In [20]:
user_engagement.describe()

         time_stamp        user_id   visited
count  2.079170e+05  207917.000000  207917.0
mean   1.383065e+18    5913.314197       1.0
std    1.396444e+16    3394.941674       0.0
min    1.338422e+18       1.000000       1.0
25%    1.373933e+18    3087.000000       1.0
50%    1.386029e+18    5682.000000       1.0
75%    1.394669e+18    8944.000000       1.0
max    1.402013e+18   12000.000000       1.0

In [21]:
df1['date'] = pd.to_datetime(df.time_stamp.dt.date)
df1

                 time_stamp  user_id  visited       date
0       1398124800000000000        1        1 2014-04-22
1       1384473600000000000        2        1 2013-11-15
2       1385683200000000000        2        1 2013-11-29
3       1386547200000000000        2        1 2013-12-09
4       1387929600000000000        2        1 2013-12-25
...                     ...      ...      ...        ...
207912  1378425600000000000    11996        1 2013-09-06
207913  1358208000000000000    11997        1 2013-01-15
207914  1398556800000000000    11998        1 2014-04-27
207915  1338595200000000000    11999        1 2012-06-02
207916  1390694400000000000    12000        1 2014-01-26

[207917 rows x 4 columns]

In [22]:
df['date'] = pd.to_datetime(df.time_stamp.dt.date)

def rolling_count(df_group, frequency):
    return df_group.rolling(frequency, on='date')['user_id'].count()

df['visits_7_days'] = df.groupby('user_id', as_index=False, group_keys=False).apply(rolling_count, '7D')
df.describe()

             user_id   visited  visits_7_days
count  207917.000000  207917.0  207917.000000
mean     5913.314197       1.0       4.381393
std      3394.941674       0.0       2.042666
min         1.000000       1.0       1.000000
25%      3087.000000       1.0       3.000000
50%      5682.000000       1.0       4.000000
75%      8944.000000       1.0       6.000000
max     12000.000000       1.0       7.000000

In [23]:
df[df.visits_7_days >= 3.0]

                time_stamp  user_id  visited       date  visits_7_days
9      2014-02-09 03:45:04        2        1 2014-02-09            3.0
10     2014-02-13 03:45:04        2        1 2014-02-13            3.0
27     2013-02-19 22:08:03       10        1 2013-02-19            3.0
30     2013-03-02 22:08:03       10        1 2013-03-02            3.0
31     2013-03-05 22:08:03       10        1 2013-03-05            3.0
...                    ...      ...      ...        ...            ...
207898 2014-05-23 11:04:47    11988        1 2014-05-23            6.0
207899 2014-05-24 11:04:47    11988        1 2014-05-24            6.0
207900 2014-05-26 11:04:47    11988        1 2014-05-26            5.0
207901 2014-05-27 11:04:47    11988        1 2014-05-27            5.0
207902 2014-06-01 11:04:47    11988        1 2014-06-01            3.0

[160522 rows x 5 columns]

In [24]:
user_adopted = df.groupby('user_id')['visits_7_days'].max().reset_index()

user_adopted['adopted_user'] = user_adopted['visits_7_days'].apply(lambda x: 1 if x>=3 else 0)

user_adopted.head(10)

   user_id  visits_7_days  adopted_user
0        1            1.0             0
1        2            3.0             1
2        3            1.0             0
3        4            1.0             0
4        5            1.0             0
5        6            1.0             0
6        7            1.0             0
7       10            7.0             1
8       11            1.0             0
9       13            1.0             0

In [25]:
user_adopted.drop('visits_7_days', axis = 1, inplace = True)
user_adopted.rename(columns={"user_id": "object_id"}, inplace=True)
user_adopted.set_index("object_id", inplace = True)

In [26]:
user_adopted

           adopted_user
object_id
1                     0
2                     1
3                     0
4                     0
5                     0
...                 ...
11996                 0
11997                 0
11998                 0
11999                 0
12000                 0

[8823 rows x 1 columns]

In [28]:
df_users = users.join(user_adopted, on = 'object_id', how='left')
df_users

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.398138810,1,0,11,10803.0,0.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1970-01-01 00:00:01.396237504,0,0,1,316.0,1.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1970-01-01 00:00:01.363734892,0,0,94,1525.0,0.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.369210168,0,0,1,5151.0,0.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.358849660,0,0,193,5240.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1970-01-01 00:00:01.378448055,0,0,89,8263.0,0.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1970-01-01 00:00:01.358274517,0,0,200,NaN,0.0
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1970-01-01 00:00:01.398602716,1,1,83,8074.0,0.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1970-01-01 00:00:01.338638159,0,0,6,NaN,0.0
11999,12000,2014-01-26 08:57:12,Lima ThaÃ­s,ThaisMeloLima@hotmail.com,SIGNUP,1970-01-01 00:00:01.390726632,0,1,0,NaN,0.0

In [29]:
df_users.describe()

,object_id,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
count,12000.00000,12000.000000,12000.000000,12000.000000,6417.000000,8823.000000
mean,6000.50000,0.249500,0.149333,141.884583,5962.957145,0.181571
std,3464.24595,0.432742,0.356432,124.056723,3383.761968,0.385512
min,1.00000,0.000000,0.000000,0.000000,3.000000,0.000000
25%,3000.75000,0.000000,0.000000,29.000000,3058.000000,0.000000
50%,6000.50000,0.000000,0.000000,108.000000,5954.000000,0.000000
75%,9000.25000,0.000000,0.000000,238.250000,8817.000000,0.000000
max,12000.00000,1.000000,1.000000,416.000000,11999.000000,1.000000